<header class="app__header">
    <div class="logo-container">
        <img src="../app/assets/images/logo.png" alt="Logo" class="logo">

        <div class="app__name">
            <span>¡Bienvenido!</span>
            <strong>Gestión de dispositivos</strong>
        </div>
    </div>
    <ul class="nav-container">
        <li class="search">
            <button nz-button (click)="abrirBusqueda()">
                <em class="far fa-search"></em>
                Buscar solicitudes
            </button>
        </li>
        <li class="profile">
            <img src="../app/assets/images/avatar.jpg" alt="Avatar">
        </li>
    </ul>
</header>

<app-search></app-search>