.steps-content {
    margin-top: 16px;
    min-height: 200px;
    height: 100%;
  }

  .steps-action {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
  }

  button {
    margin-right: 8px;
  }