<aside class="app__aside">
    <div class="create__new" (click)="nuevaSolicitud()">
        <div class="icon">
            <em class="fal fa-plus"></em>
        </div>
        <span>
            Solicitudes nuevas
        </span>
    </div>
    <ul nz-menu nzMode="inline" class="app__menu">
        <li nz-submenu nzTitle="Menu" nzIcon="appstore" nzOpen>
            <ul>
                <li nz-menu-item routerLink="/home" routerLinkActive="active">Home</li>
                <li nz-menu-item routerLink="/home" routerLinkActive="active" (click)="abrirBusqueda()">Buscar solicitudes</li>
                <li nz-menu-item routerLink="/estadisticas" routerLinkActive="active">Estadísticas</li>
            </ul>
        </li>
    </ul>
</aside>


<app-form-inicio></app-form-inicio>