$c-wh: #fff;
$c-dr: #333;
$c-gr: #eaeef3;
// app colors
$c-1: #bac92e;
$c-2: #1b2c3f;
$c-3: #ddcf4f;
// app answer
$c-success: #52c41a;
$c-info: #1890ff;
$c-warning: #faad14;
$c-danger: #ff4d4f;
// app sizes
$s-header: 70px;
$s-control: 40px;
$s-btn: 50px;
// default
$d-padding: 40px;
$d-radius: 5px;
// font
$f-title: 30px;
$f-parag: 15px;
$f-light: 300;
$f-regular: 400;
$f-semibold: 600;
$f-bold: 700;